﻿<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <h4>Upload on file select</h4>
    </div>
</div>

<form name="myForm">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-offset-2 col-md-6">
            <input type="text" name="title" ng-model="picTitle" size="50" placeholder="Title...">
            <i ng-show="myForm.title.$error.required">*required</i>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-offset-2 col-md-6">
            <input type="file" ngf-select ng-model="picFile"
                   accept="image/*" ngf-max-height="5000" ngf-max-size="4MB" />

        </div>
    </div>

    <div class="row" style="margin-top:20px">
        <div style="font:smaller" class="col-md-offset-2 col-md-6">
            File:
            {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <div class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px">
        <div class="col-md-offset-3 col-md-6">
            <button ng-click="vm.ok(picFile)" ng-disabled="!myForm.$valid" style="margin-right:60px">Submit</button>
            <button ng-click="vm.cancel()">Cancel</button>
        </div>
    </div>
</form>